// If you want to override materialize sass variables you can uncomment the following:

@import "{poetic:materialize-scss}/sass/components/_color.scss";
$primary-color: #1398DD;
$secondary-color: #1398DD;

$font-stack:    Helvetica, sans-serif;


// import main scss file
@import "{poetic:materialize-scss}/sass/materialize.scss";

.medium-editor, .medium-editor-placeholder {
  outline: none;
  margin: 0 0 20px 0;
  padding: 0 0 20px 0;
  border-bottom: 1px solid #dbdbdb;
}


// map view styles

.map-container {
  height: 500px;
}
.map-containerHome{
  height: 600px;
}

.map-container-subscribe {
  height: 400px;
}

#cardBox{
  margin: 10px;
}

#cardImage{
  height: 400px;
}

#dummyConsoleDemoButton{
  margin : 9px 10px;
  float: right
}

#addRouteButtons1{
  margin: 0 5% 0 5%;

}

#addRouteButtons1 button {
  width: 100%;
}

#addRouteButtons2{
  margin: 0 5% 0 5%;


}

#addRouteButtons2 button {
  width: 100%;

}

#mapCont{
  margin-bottom: 2%;
}

#right-panel {
  font-family: 'Roboto','sans-serif';
  line-height: 30px;
  padding-left: 10px;
}

#right-panel select, #right-panel input {
  font-size: 15px;
}

#right-panel select {
  width: 100%;
}

#right-panel i {
  font-size: 12px;
}

#right-panel {
  height: 100%;
}
.panel {
  height: 100%;
  overflow: auto;
}

#addRouteButtons2{
  visibility: hidden;
  height: 0;
}

#navigationDetails{
  visibility: hidden;
  height: 0;
}

#cardTitle{
  color: #339AFC;
  text-shadow: 2px 2px #ffffff;
  padding: 0 20px 20px 6px;
}


#addRoute{
  float: right;
  margin-right: 5%;
}

#addRouteBack{
  margin-left: 5%;
  float: left;
}

#routeForm{
 margin-top: 15px;
}

.chip{
  margin: 0 2% 2% 0;
}



#startTime{
  float:right;
  color: #1B8DF9;
}

#navTitle{
  margin: 17px 0 0 17px;
  width: 100%;
}

.container.pageType{
  margin-top: 21px;
}

#notiButtons{
  margin: 2% 5% 0 5%;
}

#notiButtons button {
  width: 100%;
}

#saveLoc{
  margin: 2% 5% 0 12%;
  width: 75%;
}

.card.checkBoxCard{
  padding: 0 5% 1% 5%;
}

#next{
  float: right;
  margin-bottom:10px;
}