// If you want to override materialize sass variables you can uncomment the following:

@import "{poetic:materialize-scss}/sass/components/_color.scss";
$primary-color: #1B8DF9;
$secondary-color: #1B8DF9;

$font-stack:    Helvetica, sans-serif;


// import main scss file
@import "{poetic:materialize-scss}/sass/materialize.scss";

.medium-editor, .medium-editor-placeholder {
  outline: none;
  margin: 0 0 20px 0;
  padding: 0 0 20px 0;
  border-bottom: 1px solid #dbdbdb;
}


// map view styles

.map-container {
  width: 100%;
  max-width: 100%;
  height: 500px;
}

#dummyConsoleDemoButton{
  margin : 9px 10px;
  float: right
}
